[Desktop Entry]
Name=F-Client
GenericName=Online multi-player 2D platform shooter
Type=Application
Terminal=false
Exec=F-Client
Icon=teeworlds
Comment=Client mod for Teeworlds: Jumping the Gun
Categories=Game;ArcadeGame;
